<div class="jumbotron">
  <h1>Campus Hangouts</h1>

	<div class = "text">
		<h2>Oppenheimer Café</h2>
		Oppenheimer Café is located in the newly updated science quad formed by Harned and Thompson Halls. The cafe is staffed by university students in conjunction with University of Puget Sound Dining and Conferences Services. The Oppenheimer Café provides an open environment for students and staff to meet, grab a cup of coffee, get a bite to eat and study. The OC uses Caffé Vita as coffee roaster and provider. This relationship is treasured since Caffé Vita is well equipped to meet the demands of our business, training and product knowledge. <a href = "http://www.pugetsound.edu/about/offices-services/dining-conference-services/oppenheimer-cafe-oc/">Click here</a> for more information about Oppenheimer Café.
	</div>

	<img src="http://livingpiercecounty.com/wp-content/uploads/2014/08/DSC_0081.jpg" alt="Mountain View" class="webcam image">

	<div class = "text">
		<h2>Diversions Café</h2>
		Diversions Café is a great meeting spot for students to study or socialize over a delicious coffee, tea, or smoothie. The café acts as a social hot-spot on campus and provides a great opportunity become acquainted with the student body. Diversions itself is located on the main floor of the Wheelock Student Center, and was established in the fall of 1997. <a href = "http://www.pugetsound.edu/about/offices-services/dining-conference-services/oppenheimer-cafe-oc/">Click here</a> for more information about Diversions.
	</div>
	<img src="http://www.pugetsound.edu/images/vt/buildings/WheelockDiversionsTD022.jpg" alt="Mountain View" class="webcam image">

	<div class = "text">
		<h2>The Cellar</h2>
		The Cellar is located in the basement of Wheelock Student Center, and offers an entirely student-run dining experience. Check out our menu for all of our ingredients and specials, or tour the C-Store for all of your snacking needs. Concerned gluten-free and vegan eaters need not worry, the Cellar offers options for all dietary concerns! The Cellar has remained a campus tradition dating back as far as 1976, and has undergone numerous changes since then.  Once named Cellar “X,” this restaurant began as a sandwich shop for students before it quickly was contracted to the Antique Sandwich Company (located on Pearl Street) for a year in order to make necessary improvements on food quality. <a href = "http://www.pugetsound.edu/about/offices-services/dining-conference-services/the-cellar/">Click here</a> for more information about The Cellar.

	</div>

	<img src="http://www.pugetsound.edu/images/vt/buildings/Wheelock_Celler.jpg" alt="Mountain View" class="webcam image">



</div>