 <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<title>Puget Sound Experience</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

<div class = "highlight-container">
  <div class="target">

    <div class="roller-item" style = "background-image: url('https://beerandhotdogs.files.wordpress.com/2013/07/20130723-072227.jpg');">
      <div class = "bottom-half">
        <h3>The Red Hot </h3> 
        An over-21 spot for creative hot dogs plus ample rotating craft beers.
        <br>
        Distance: 0.6 Miles 
          <br>
          <a href="https://redhottacoma.com" class = 'btn btn-default btn-lg'>Website</a>
          <br>
      </div>  
    </div>


    <div class="roller-item" style = "background-image: url('http://museumofglass.org/view.image?Id=910');">
      <div class = "bottom-half">
        <h3>Tacoma Museum of Glass</h3> 
        A 75,000-square-foot art museum dedicated to the medium of glass.
        <br>
        Distance: 4.2 Miles 
          <br>
          <a href="http://museumofglass.org/" class = 'btn btn-default btn-lg'>Website</a>
          <br>
      </div>  
    </div>


    <div class="roller-item" style = "background-image: url('http://3.bp.blogspot.com/-yuxKUrKVvsQ/TdX8u_fFYPI/AAAAAAAAAD0/GhOpKWZ0bbI/s400/thai.jpg');">
      <div class = "bottom-half">
        <h3>Silk Thai Cafe</h3> 
        Thai eatery decked out with Siamese artifacts, offering a lengthy lineup of standards & specialties.
        <br>
        Distance: 0.6 Miles 
          <br>
          <a href="www.silkthaicafe.com/" class = 'btn btn-default btn-lg'>Website</a>
          <br>
      </div>  
    </div>

     <div class="roller-item" style = "background-image: url('http://exit133.com/uploads/Point-Defiance.jpg');">
      <div class = "bottom-half">
        <h3>Point Defiance Park</h3> 
        One of the largest parks in the US, overlooking the beautiful Puget Sound.
        <br>
        Distance: 4.8 Miles 
          <br>
          <a href="www.pdza.org/" class = 'btn btn-default btn-lg'>Website</a>
          <br>
      </div>  
    </div>

     <div class="roller-item" style = "background-image: url('http://www.calautomuseum.org/wp-content/uploads/2014/03/lemay2.jpg');">
      <div class = "bottom-half">
        <h3>LeMay Car Museum</h3> 
        One of the world’s largest auto museums and attractions.
        <br>
        Distance: 4.9 Miles 
          <br>
          <a href="www.lemaymuseum.org/" class = 'btn btn-default btn-lg'>Website</a>
          <br>
      </div>  
    </div>

    <div class="roller-item" style = "background-image: url('http://livingpiercecounty.com/wp-content/uploads/2013/04/proctor-tacoma2.jpg');">
      <div class = "bottom-half">
        <h3>Proctor District</h3> 
        A small town "urban village" with shopping, restuarants and entertainment.
        <br>
        Distance: 4.9 Miles 
          <br>
          <a href="http://www.proctordistrict.com/" class = 'btn btn-default btn-lg'>Website</a>
          <br>
      </div>  
    </div>

    <div class="roller-item" style = "background-image: url('http://s3-media2.fl.yelpcdn.com/bphoto/uh3E96liuA0yXsRoZiuOag/348s.jpg');">
      <div class = "bottom-half">
        <h3>Metronome Coffee</h3> 
        Espresso, coffee & tea meet light bites, wine & beer at this hip spot with regular open-mike nights.
        <br>
        Distance: 0.7 Miles 
          <br>
          <a href="www.metronomecoffee.com/" class = 'btn btn-default btn-lg'>Website</a>
          <br>
      </div>  
    </div>
  </div>
</div>

</body> 

