<div class="jumbotron">
	<h1>KUPS Radio - The Sound</h1> 

<div class = "text"> 	
	<h2>Student Radio</h2>
	KUPS has over 120 volunteers and staff members, making it one of the largest student-run organizations on campus. Located in the Student Union Building (SUB), this radio station broadcasts 24/7 and features an array of musical genres. In the past, KUPS has received numerous rewards from institutions like The Princeton Review, MTV, The Washington Post, and many others. It truly represents some of the best college radio in the nation -- we highly suggest you check it out during your visit on campus.
</div>


<img src="http://blog.thenewstribune.com/tacomarockcity/files/2009/11/kups.JPG" alt="Mountain View" class="webcam image">
<img src="http://www.kups.net/wp-content/uploads/2014/11/photo-4-1056x792.jpg" alt="Mountain View" class="webcam image">
<div class = "text"> 	
	<h2>Free Stream</h2>
	KUPS can also be streamed via your browser. The streambox below should allow you to listen to KUPS on either your mobile device or computer. If you want to learn more about KUPS, <a href = "kups.net">visit their website.</a>

	<br>

	<!-- <script type="text/javascript" src="http://hosted.musesradioplayer.com/mrp.js"></script> -->
	<script type="text/javascript">
	MRP.insert({
	'url':'http://stream.kups.net',
	'codec':'mp3',
	'volume':100,
	'autoplay':false,
	'buffering':5,
	'title':'KUPS Live Stream',
	'wmode':'transparent',
	'skin':'simple-gray',
	'width':300,
	'height':122
	});
	</script>
		<div class = "kups">
		<object id="MRPObject" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="300" height="122">
			<param name="movie" value="http://hosted.muses.org/muses-hosted.swf">
			<param name="flashvars" value="url=http://stream.kups.net&amp;lang=auto&amp;codec=mp3&amp;tracking=true&amp;volume=100&amp;autoplay=false&amp;buffering=5&amp;skin=http://hosted.muses.org/muses-simple-gray.xml&amp;title=KUPS Live Stream&amp;welcome=undefined">
			<param name="wmode" value="transparent">
			<param name="allowScriptAccess" value="always">
			<param name="scale" value="noscale">
			<embed name="MRPObject" src="http://hosted.muses.org/muses-hosted.swf" flashvars="url=http://stream.kups.net&amp;lang=auto&amp;codec=mp3&amp;tracking=true&amp;volume=100&amp;autoplay=false&amp;buffering=5&amp;skin=http://hosted.muses.org/muses-simple-gray.xml&amp;title=KUPS Live Stream&amp;welcome=undefined" scale="noscale" wmode="transparent" width="300" height="122" allowscriptaccess="always" type="application/x-shockwave-flash">
		</object>
		</div>
	</div>
	<img src="http://1.bp.blogspot.com/-I1bDTpK8tzY/VHErj6ef1AI/AAAAAAAAALM/A8cjIUCTCMY/s1600/IPEkups.jpeg" alt="Mountain View" class="webcam image">
	
</div>