<!-- <h1>Go visit Rainier National Park</h1>  -->
<!-- <p>Here's the webcam - I'll put some more description in here after we meet with Chris on Wednesday. </p> -->
<div class="jumbotron">
  <h1>Washington's Outdoors</h1>

	<div class = "text">
		<h2>The Pacific Northwest</h2>
		Many students take advantage of the Pacific Northwest's amazing outdoor opportunities. Living in Tacoma provides easy access to Olympic National Park, North Cascade National Park, Mount Rainier National Park, and Puget Sound itself. If you have extra time during your visit, consider spending some time in the amazing outdoor environment Washington has to offer.
	</div>  

	<img src="http://www.pugetsound.edu/files/pages/2008-08-30,%20Passages%2008,%20Holden%20Sapp,65-10.jpg" alt="Mountain View" class="webcam image">

	<div class = "text">
		<h2>Puget Sound Outdoors</h2>

		The campus outdoor program, Puget Sound Outdoors, constantly offers weekend trips all through Washington. Among the most popular outings include skiing, rock-climbing, whitewater kayaking, and leadership training on the Washington coast. Additionally, UPS hosts a Wilderness First Aid course on campus semiannually. <a href = "http://www.pugetsound.edu/student-life/student-activities/puget-sound-outdoors/">Click here</a> to find out more about PSO and their trips throughout Washington.
	</div>

	<img src="http://www.pugetsound.edu/files/pages/p1040045.jpg" alt="Mountain View" class="webcam image">

	<div class = "text">
		<h2>Passages</h2>
		As part of the week-long orientation program, new students participate in a two day outing to the Hood Canal area of Washington. Groups of 8-10 student choose from an array of activities that include hiking, canoing, backpacking, and several other options. This program, known as Passages, helps develop acquaintances during the first nervous week of college. To find out more about this nationally acclaimed orientation program, <a href = "http://www.pugetsound.edu/student-life/student-activities/puget-sound-outdoors/">Click here.</a>
		
	</div>

	<img src="http://static.panoramio.com/photos/large/12761564.jpg" alt="Mountain View" class="webcam image">


  <div class = "text">
  	<h2>Visit Mount Rainier</h2>

  	Mount Rainier stands at just over 14,400 feet, overshadowing the sea-level landscape in Seattle and Tacoma. The Carbon River and Paradise entrances are less than two hours from University of Puget Sound. One of Washington's prized gems, Rainier offers some of the most beautiful wilderness in the Pacific Northwest. Below is a real-time feed of Mount Rainier from Paradise Valley. More information about seasonal closures, weather conditions, directions, and park events can be found on the <a href = "http://www.nps.gov/mora/index.htm">National Park Service's website.</a>
  	


  </div>
  



		<img src="http://www.nps.gov/webcams-mora/mountain.jpg?2014926123654" alt="Mountain View" class="webcam image">
		Courtesy of the National Park Service 

</div>